$border-color: #f1f1f1;

:host {
  display: flex;
  justify-content: center;
}

::ng-deep {
  .space-preview{
    canvas{
      position: relative;
      width: 100%;
      height: 25rem;
    }
  }

  .canvas-preview{
    position: relative;
    canvas {
      width: 100%;
    }
  }

}

.block-expression{
  padding: .5rem;
  .value-number{
    color: blue;
  }
}

.wrapper {
  margin: 3%;
  width: 70vw;
  height: 75vh;
  background-color: white;
  box-shadow: 0 0px 80px rgba(0, 0, 0, 0.17);

  .header {
    display: flex;
    align-content: center;
    align-items: center;
    padding: .25rem 1.5rem;
    height: 3rem;
    border-bottom: solid 1px $border-color;
    justify-content: space-between;

    .in-header{
      display: flex;
      align-content: center;
      align-items: center;
    }
    .title{
      font-weight: 500;
      padding: 0 .75rem;
    }

    .uil{
      font-size: 1.5rem;
    }
  }

  .block-main {
    display: grid;
    height: calc(100% - 3.5rem);
    grid-template-columns: 2fr 1fr;


    .cam {
      position: relative;
      .placeholder{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      //background-color: red;
    }

    .sidebar {
      border-left: solid 1px $border-color;
      //background-color: green;
      display: grid;
      grid-template-columns: 6fr 1fr;

      .zone-body{
        padding: 0;
        display: grid;
        grid-template-rows: 1fr 2fr;
        .block{
          padding: 1rem;
          border-top: solid 1px $border-color;
          &:first-child{
            border-top: 0;
          }
          //background-color: red;
        }
        //background-color: green;
      }

      .zone-btn{
        //background-color: red;
        border-left: solid 1px $border-color;
      }

      .list-btn{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        li{
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.link-github{
  cursor: pointer;
  text-decoration: none;
  color: #222222;
}


